<p class="lead text-left">How does this work?</p>

<p>The GitHub Jenkins Service Updater uses the
  <a href="https://developer.github.com/" target="_blank">GitHub API</a> to
  check the
  <a href="https://developer.github.com/changes/2018-04-25-github-services-deprecation/" target="_blank">deprecated GitHub Services</a> installed on your repositories. 
  
<p>This requires verifying your identity using <a href="https://developer.github.com/v3/oauth/" target="_blank">OAuth</a> and looking up if you have already installed this application. If you don't, it will redirect you to GitHub to install the application.

<p>The following
  <a href="https://developer.github.com/v3/oauth/#scopes" target="_blank">OAuth
  authorization</a> will request access to the following:
</p>

<table class="table">
  <tr>
    <th>Data</th>
    <th>Reason</th>
  </tr>
  <tr>
    <td><b>Your account</b></td>
    <td>Verify your GitHub account</td>
  </tr>
  <tr>
    <td><b>Resources</b></td>
    <td>Determine what resources both you and this application can access</td>
  </tr>
  <tr>
    <td><b>Actions</b></td>
    <td>Enable you to trigger actions on GitHub from within this application</td>
  </tr>
</table>

<% if !authenticated %>
<div id="get-started" class="text-center">
  <a href="/auth" class="btn btn-primary btn-lg">Get started</a>
</div>
<% else %>
<footer class="text-center">
  <% if authenticated %>
    <a href="/">
      <span class="octicon octicon-zap"></span>
      Check some commits!
    </a>
  <% end %>
</footer>
<% end%>
