<div id="err" class="alert alert-danger"></div>
<script id="err-template" type="text/x-handlebars-template">
  <strong>{{error_message}}</strong>
</script>

<div id="waiting">
  <p class="lead text-muted text-center">
    <span class="glyphicon glyphicon-flash flash"></span>
    Hardcore API action. We&rsquo;ll be back in just a moment&#8230;</p>
</div>

<div id="results"></div>
<script id="results-template" type="text/x-handlebars-template">
  
  <p id="results-lead" class="lead">
    {{#each repo_list}}
    <ul class="list-group"><span class="octicon octicon-repo"></span> {{full_name}} 
      {{#each hooks}}
      <li class="list-group-item clearfix">
        <a href="https://github.com/github/github-services/tree/master/docs/{{hook_name}}">{{ hook_name }}</a> 
          {{#if replacement }}
            <a href="{{replacement}}" target="_blank" class="btn btn-default pull-right">Migrate</a>
          {{/if}}
      </li>
      {{/each}}
    </ul>
    {{/each}}
  </p>
</script>


<% if !installations.empty? %>
<div id="select-installation">
  <p class="lead">Select one of your accounts:</p>
    <ul class="list-group">
      <% for i in installations %>
        <%= erb :installations, :locals => { :installation => i, :hidden => false} %>
      <% end %>
    </ul>
</div>
<% end %>

<% if installation_selected %>
<div id="recent-commits">
  <p class="lead">Don't see your account listed:</p>
  
  <div id="get-started" class="text-center">
    <a href="/install" class="btn btn-primary btn-lg">More Accounts</a>
  </div>
  
</div>
<% end %>

<footer class="text-center">
  <p><a href="/how">
    <span class="octicon octicon-question"></span>
    How does this work?
  </a>
  <p><a href="/reset">
    <span class="octicon octicon-caution"></span>
    Want to start over?
  </a>
</footer>
